*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
  background: #110011;
}
section{
  background: #101;
  width:100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
section .container{
  position: absolute; 
}
section .container h2{
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 280%;
  line-height: 50px;
  letter-spacing: 10px;
  color:#222;

}
section .container h2 span{
animation: animate 5s linear infinite;
}
section .container h2 span.happy{
  animation-delay: -0.2s;
  filter: hue-rotate(180deg);
}
section .container h2 span.new{
  animation-delay: -0.7s;
  filter: hue-rotate(90deg);
}
section .container h2 span.year{
  animation-delay: -0.5s;
  filter: hue-rotate(200deg);
}
section .container h2 span.soon{
  animation-delay: -0.9s;
  filter: hue-rotate(30deg);
}
@keyframes animate{
  0%,10%,25%,50%,70%,89%,100%{
      color:#222;
      text-shadow: 0 0 5px #222;
  }
  5%,25.5%,60%,70.1%,95%{
      color:#fff;
      text-shadow: 0 0 5px #f0c,
      0 0 15px #f0c,
      0 0 40px #f0c,
      0 0 60px #f0c,
      0 0 80px #f0c,
      0 0 100px #f0c;
  }
}

.main { 
  transform: scale(0.8);
  overflow: hidden;
}
.rotate-phone { 
  display: none ;
}
@media screen and (max-width: 890px) { 
  .main { 
  transform: scaleY(1.5);
  transform: scaleX(0.8);

  }
  .rotate-phone { 
    display: block;
    position: absolute;
    top: 50%;
    background: rgba(56, 56, 56, 0.781) ;
    color: white; 
    width: 100%;
    font-size: 24pt;
    font-weight: 700;
    text-align: center;
    padding: 12px;
    z-index: 999;
  }
}
